#app-grid {
    layout: grid;
    grid-size: 2; 
    grid-columns: 1fr;
    grid-rows: 1fr;
    background: $panel;
}

.hrow {
    height: auto;
}

.hrow > PVTextMonitor {
    background: $boost;
    width: auto;
    height: auto;
}

.btn {
    min-width: 23;
    min-height: 1;
    padding: 0;
    text-align: center;
    /* border: round $accent; */
    margin-top: 1;
    margin-bottom: 2;
    margin-left: 0;
    margin-right: 4;
}

#top-left {
    width: 100%;
    height: 100%;
    row-span: 2;
    border: round dodgerblue;
}

#top-left > .hrow {
    align: center middle;
}

#top-right {
    row-span: 1;
    border: round dodgerblue;
}

#top-right > .hrow {
    margin: 1;
}

#bottom-right {
    row-span: 1;
    border: round dodgerblue;
}

#bottom-right > .hrow {
    margin: 1;
}

#bottom-right > Horizontal > PVInput {
    width: 1fr;
}

.pps {
    align: center middle;
}

#bottom-right > .pps > PVButton {
    /* border: none; */
    /* min-width: 10; */
    margin-right: 2;
    text-align: center;
}

PVTextMonitor {
    border: none;
}

.pv_down {
    border: dashed red;
}
